<!DOCTYPE html>
<html>
<head>
    <title>Transaction Detail</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>

<body>


<a href="/homepage">
    <img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-10px;left:0" alt="" src="http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo">
</a>

<br>
<br>
<br>
<br>

<div>
    <h3>Sorry, no products found matching search criteria.</h3>
</div>

<div>
    <a href="/homepage" type="button" class="btn btn-primary">Homepage</a>
</div>
<br>
<br>
</body>
</html>