<!DOCTYPE html>
<html>
<head>
    <title>Thank You!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    </head>

    <body>

    <% include ./navheader.ejs %>

    <img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:10px;left:30px" alt="" src="http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo">
            <br>
            <br>

            <h3>Thank you for your shopping!<br>Your order has been placed!</h3>

    <div>
    <a href="/homepage" type="button" class="btn btn-primary">Homepage</a>
            </div>

            </body>
            </html>